
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.navbar-brand {
    padding-bottom: 0;
    padding-top: 0.1;
}

/* .row.content {height: 450px} */
  
  
.footer {
    background-color: rgb(145, 142, 142);
    color: white;
    padding: 15px;
}
  
/* On small screens, set height to 'auto' */
@media screen and (max-width: 767px) {
    .row.content {height:auto;} 
}

h2 {
    font-variant: small-caps
}

h3 {
    font-variant: small-caps
}

h5 {
    font-weight:bold;
    font-family: monospace;
    text-align: center;
}

.card-link {
	font-family: monospace;
	color:#56aece;
	text-decoration:none;
}

a:link {

	font-family: monospace;
	color: #56aece;
	text-decoration:none;
}

    
a:hover {
	color: #56aece;
    text-decoration: underline;
}

#myNav {
    font-family: "Book Antiqua", serif;
}


/*Universities' colors*/
.butun {
   font-weight:bold;
   color: #13294B;
}

.iu {
    color: #900;
}

.pu {
    color: #960
}

.bu {
	color: #CC0000
}

.utoronto {
    color: rgba(6, 41, 88, 0.938)
}





/*publication section*/
        
.abscontent {
        font-family:Georgia, serif;
        text-align: center;
        padding-top:10px;
        padding-bottom:15px;
    }

#box {
    text-align: center;
    font-family: "Lucida Console";
}

.purem {
    border-radius: 15px 50px;
    background: rgba(93, 173, 226,0.25); /* #5DADE2; Blue */
    padding: 12px;
}
  
.applm {
    border-radius: 15px 50px;
    background: rgba(125, 206, 160,0.25); /* #7DCEA0; /* Green */
    padding: 12px;
}
  
.histm {
    border-radius: 15px 50px;
    background: rgba( 220, 118, 51,0.25); /*#DC7633; /* Orange*/
    padding: 12px;
}
  
.eleceng {
    border-radius: 15px 50px;
    background: rgba( 244, 208, 63,0.25); /*#F4D03F ; /* Yellow */
    padding: 12px;
}