<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" >
  <meta name="author" content="Stefano Silvestri Ph.D.">
  <meta name="designer" content="Stefano Silvestri Ph.D.">
  <meta name="generator" content="{{ eleventy.generator }}"><!-- thank you, Zach -->
  <meta property="og:url" content="{{ site.url + page.url }}" >
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:site_name" content="{{ site.title }}" >
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" >
  <meta property="og:image" content="{{ '/assets/img/social/socialCard.png' | url }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="315" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{{ '/assets/img/social/socialCard.png' | url }}">
  <meta name="supported-color-schemes" content="light dark">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  
  <title>{{ title }}</title>
   
  <link rel="canonical" href="{{ site.url + page.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <link rel="icon" href="{{ '/assets/img/favicon/favicon.svg' | url }}" type="image/svg+xml">
  <link rel="preload" href="{{ '/assets/fonts/neoeuler.woff2' | url }}" as="font" type="font/woff2" crossorigin>
</head>