<header class="flex">
  <a class="skip-nav-link" href="#main-content">skip nav</a>
  {% include "logo.njk" %}
  <div class="me">
    <h1>Stefano Silvestri Ph.D.</h1>
  </div>
  {% include "nav.njk" %}
</header>