<header class="flex">
  <a class="skip-nav-link" href="#main-content">skip nav</a>
  {% include "logo.njk" %}
  <button type="button" class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
    <span class="sr-only">Menu</span>
    <svg viewBox="0 0 205 277" stroke="var(--clr-fg)" fill="none">
      <path class="line line_top" d="M 35 90 L 170 90" stroke-linecap="round" stroke-width="15"/>
      <path class="line line_mid" d="M 35 135 L 170 135" stroke-linecap="round" stroke-width="15"/>
      <path class="line line_bot" d="M 35 180 L 170 180" stroke-linecap="round" stroke-width="15"/>
    </svg>
  </button>
  <div class="me">
    <h1>Stefano Silvestri Ph.D.</h1>
  </div>
  {% include "nav.njk" %}
</header>