<div class="logo">
  <svg viewBox="0 0 800 800" stroke="var(--logo-clr)" fill="none" role="img" aria-label="personal logo: spiraling S">
    <circle cx="400" cy="400" r="337.5" fill="var(--logo-clr)" fill-opacity="0.03125" stroke="none"/>
    <circle cx="400" cy="400" r="112.5" fill="var(--logo-clr)" fill-opacity="0.03125" stroke="none"/>
    <circle cx="400" cy="400" r="37.5" fill="var(--logo-clr)" fill-opacity="0.03125" stroke="none"/>
    <circle cx="400" cy="400" r="12.5" fill="var(--logo-clr)" fill-opacity="0.5"/>
    <path class="circle-spiral__ccw" d="M 400 412.5 A 1 1, 0, 0, 1, 400 387.5 A 1 1, 0, 0, 1, 400 437.5 A 1 1, 0, 0, 1, 400 287.5 A 1 1, 0, 0, 1, 400 737.5 L 400 512.5" stroke-width="4"/>    
    <path class="circle-spiral__cw" d="M 400 387.5 A 1 1, 0, 0, 1, 400 412.5 A 1 1, 0, 0, 1, 400 362.5 A 1 1, 0, 0, 1, 400 512.5 A 1 1, 0, 0, 1, 400 62.5 L 400 287.5" stroke-width="4"/>
  </svg>
</div>    