/* RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,*::before,*::after {box-sizing: border-box;}
/*--------------*/
@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: 'NeoEuler';
  src: local('Neo Euler Euler'), local('Neo-Euler'),
    url("/assets/fonts/neoeuler.woff2") format('woff2'),
    url("/assets/fonts/neoeuler.woff") format('woff');
  size-adjust: 114.14473684210%; /* avgCharacterWidth of web font / avgCharacterWidth of fallback font */
  ascent-override: 64.93605907781%; /* web font ascent / (web font UPM * size-adjust) */
  descent-override: 21.30313400576%; /* web font descent / (web font UPM * size-adjust) */
  line-gap-override: 0%; /* web font line-gap / (web font UPM * size-adjust) */
}
:root {
  /*Gruvbox Dark*/
  --clr-bg: #282828;
  --clr-bg-hsl: 0 0% 16%;
  --clr-bgh: #1d2021;
  --clr-red: #cc241d;
  --clr-green: #98971a;
  --clr-yellow: #d79921;
  --clr-blue: #458588;
  --clr-purple: #b16286;
  --clr-aqua: #689d6a;
  --clr-gray: #a89984;

  --clr-gray_a: #928374;
  --clr-red_a: #fb4934;
  --clr-green_a: #b8bb26;
  --clr-yellow_a: #fabd2f;
  --clr-blue_a: #83a598;
  --clr-purple_a: #d3869b;
  --clr-aqua_a: #8ec07c;
  --clr-fg: #ebdbb2;
  --clr-fg-hsl: 43 59% 81%;

  /* Fonts */
  --ff-serif: 'NeoEuler', 'Palatino Linotype', Georgia, serif;
  --ff-mono: 'Lucida Console', monospace;
  /* Fluid Font Size */
  /* https://utopia.fyi/type/calculator?c=320,16,1.2,1024,16,1.414,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* no clamp because of stupid Safari */
  --fluid-min-width: 320;
  --fluid-max-width: 1024;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );

  --f-0-min: 16.00;
  --f-0-max: 16.00;
  --fs-300: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  
  --f-1-min: 19.20;
  --f-1-max: 22.62;
  --fs-400: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 23.04;
  --f-2-max: 31.99;
  --fs-500: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 27.65;
  --f-3-max: 45.23;
  --fs-600: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 33.18;
  --f-4-max: 63.96;
  --fs-700: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 39.81;
  --f-5-max: 90.44;
  --fs-800: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}
@media screen and (min-width: 64em) {
  :root {--fluid-screen: calc(var(--fluid-max-width) * 1px);}
}
@media (prefers-color-scheme: light) {
  /*TODO: change this to a class that is added via js to body */
  :root {
    /*Gruvbox Ligth*/
    --clr-bg: #fbf1c7;
    --clr-bg-hsl: 48 87% 88%;
    --clr-bgh: #f9f5d7;
    --clr-gray: #7c6f64;

    --clr-gray_a: #928374;
    --clr-red_a: #9d0006;
    --clr-green_a: #79740e;
    --clr-yellow_a: #b57614;
    --clr-blue_a: #076678;
    --clr-purple_a: #8f3f71;
    --clr-aqua_a: #427b58;
    --clr-fg: #3c3836;
    --clr-fg-hsl: 20 5% 22%;
  }
}
[hidden] {display: none !important;}
::selection {
    background-color: var(--clr-gray_a);
    color: var(--clr-bg);
}
:focus-visible {outline: 0.125rem solid var(--clr-gray_a);}
html {
  color-scheme: dark light;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  max-width: 135rem;
  margin: 0 auto;
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  font-size: var(--fs-400);
  font-family: var(--ff-serif);
  line-height: 1.6;
  overflow-x: hidden;
}
figure, figure > figure {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 48em) {
  figure[role="img"] {
    display: inline-flex;
    flex-flow: row;
  }
  figure[role="img"] > * {margin-right: 0.5rem;}
}
figure[role="img"] > * {margin-bottom: 0.5rem;}
img, picture {
  display: flex;
  align-self: center;
  max-width: 100%;
  height: auto;
}
figcaption {
  font-size: var(--fs-300);
  text-align: center;
  line-height: 2;
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}
a svg {
  fill: var(--clr-fg);
  width: 1rem;
  height: 1rem;
}
strong {font-weight: 700;}
em {font-style: italic;}
p,li,h1,h2,h3,h4,h5,h6 {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1,h2,h3,h4 {
  color: var(--clr-fg);
  font-family: var(--ff-mono);
  line-height: 1.1;
}
h2,h3,h4 {margin-bottom: 0.65em;}
h1,h2 {font-weight: 500;}
h3,h4 {font-weight: 300;}
h1 {font-size: var(--fs-800);}
h2 {font-size: var(--fs-700);}
h3 {font-size: var(--fs-600);}
h4 {font-size: var(--fs-500);}

h1 code,h2 code,h3 code,h4 code,h5 code,h6 code {font-size: 1em;}
p {margin: 1rem 0;}

button {outline-color: transparent;}

hr {
    margin: 1em 0;
    height: 0.125em;
    border: none;
    background-image: linear-gradient(0.25turn,transparent,var(--clr-aqua_a),var(--clr-green_a),var(--clr-aqua_a),transparent);
}

@media (prefers-reduced-motion: reduce) {
    .logo ~ *, details[open] summary ~ *{animation: none;}
} 

/* Utility classes */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {display: flex;}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-nav-link {
  position: absolute;
  background-color: var(--clr-aqua);
  padding: 0.5rem 1.5rem;
  border-radius: 0 5rem 5rem 0;
  left: 0.5rem;
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
  transition: transform 325ms ease-in-out;
}

.skip-nav-link:focus {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* BODY */

.main-layout {
  grid-template-columns: minmax(4vw, 1fr) minmax(15rem, 75rem) minmax(4vw, 1fr);
  grid-template-rows:
    auto 1fr auto;
  min-height: 100vh;
  min-height: 100vdh;
  margin: 0 1rem;
}
main, header, footer {grid-column: 1/4;}
header {justify-content: space-between;}
footer {
  text-align: center;
  font-size: var(--fs-300);
}
.me {display: none;}
@media screen and (min-width:64em){
  footer {grid-column: 2/3;} 
  header {
    flex-direction: row;
    align-items: center;
  }
  main {
    grid-column: 2/3;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 3rem;
  }
  .me {
    display: inline-block;
    padding: 0;
  }
}

/* logo stuff */
.logo {
  --logo-clr: var(--clr-fg);
  display: flex;
}
.logo .circle-spiral__ccw, .logo .circle-spiral__cw {animation: spiral 3s ease-in-out 0s infinite alternate;}
.logo svg {width: 10rem;}
@media screen and (min-width: 64em) {
  @keyframes spiral {
    0% {stroke-dasharray: 0 1300;}
    100% {stroke-dasharray: 1300;}
  }
}

/*--------------*/

/* navbar stuff */
.primary-navigation {
  --ul-padding: 1rem;
  flex-direction: column;
  width: 10.25rem;
  padding: var(--ul-padding);
  list-style: none;
  font-size: var(--fs-400);
  font-family: var(--ff-mono);
}
.primary-navigation > * {margin-bottom: 1rem;}
.primary-navigation a:hover::before, .primary-navigation a:focus-visible::before {
    content: "cd ~";
    font-size: var(--fs-300);
}
.secondary-navigation a:hover::before, .secondary-navigation a:focus-visible::before {
    content: "cd ~/Maths";
    font-size: var(--fs-300);
}
.primary-navigation a {text-decoration: none;}

.submenu {
  position: relative;
  width: max-content;
  margin-bottom: 0.25rem;
  border: 0.0125rem solid var(--clr-blue_a);
  padding: 0.125em 0.625em 0.625em 1.625em;
  background-color: var(--clr-bgh);
  font-family: var(--ff-mono);
}
.submenu::before{
    content: "SUBPAGES";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1.5em;
    background-color: var(--clr-blue_a);
    font-size: var(--fs-300);
    color: var(--clr-bgh);
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.submenu span {font-size: var(--fs-300);}
.secondary-navigation {
  --gap: 0;
  margin: 0;
  padding: 0.25rem 0 0 0.5rem;
  flex-direction: column;
  list-style: none;
}
@media screen and (min-width:64em) {
  .secondary-navigation {padding: 0 0 0 5rem;}
}
/*--------------*/
main a {
    --border-size: 0.125em;
    --border-style: dotted;
    --border-color: var(--clr-blue_a);
    --bg-x-pos:right;
    border-bottom: var(--border-size) var(--border-style) var(--border-color);
    padding-top: var(--border-size);
    background: var(--bg-x-pos) / 0% 100% no-repeat linear-gradient(var(--border-color),var(--border-color));
    transition: background-size 500ms;
}
main a:hover{ 
    --bg-x-pos:left;
    background: var(--bg-x-pos) / 100% 100% no-repeat linear-gradient(var(--border-color),var(--border-color));
    color: var(--clr-bg);
}
main a:hover, main a:focus, main a:visited, main a:visited:focus {
    --border-style: solid;
    outline: transparent;
}
main a:focus, main a:visited:focus { border: var(--border-size) var(--border-style) var(--border-color); }
main a:hover, main a:focus { --border-color: var(--clr-blue_a); }
main a:visited, main a:visited:focus { --border-color: var(--clr-purple_a); }

@media screen and (min-width:64em) {
  main ul {padding-left: 1rem;}
}
main ul {
    list-style: none;
    margin: 1rem 0;
}
main li:not(:last-of-type) {margin-bottom: 0.8rem;}

/* permalink stuff */
.header_wrapper h2,
.header_wrapper h3, 
.header_wrapper h4, 
.header_wrapper h5, 
.header_wrapper h6 {display: inline;}
.header-anchor {
    height: 1rem;
    width: 1rem;
}

/* Accordion stuff */
summary {
    cursor: pointer;
    text-transform: capitalize;
}
summary > * {display: inline;}
details[open] summary::after {transform: rotate(0deg);}
details[open] summary ~ * {animation: sweep .5s ease-in-out;}
@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}

.accordion__container {
  border-bottom: 0.125rem solid var(--clr-fg);
  margin: 2rem 1rem;
}
.accordion__panel {
  padding: 0.5rem;
  border-left: 0.125em solid var(--clr-gray_a);
}
.accordion__panel ul {list-style-type: none;}
.accordion__panel li {padding-bottom: 0.625rem;}
.accordion__panel li p {margin-top: 0.125rem;}

.category-legend {
    --gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(8em,1fr));
    justify-items: center;
    margin: 2rem 0;
}
span[data-category] {max-width:8em;}
span[data-category], [data-category]>cite {border-bottom: 0.125rem solid var(--clr-category);}
[data-category]::before {
  border: 0.25rem solid var(--clr-category);
  margin-right: 0.125rem;
  padding: 0.125rem;
  font-size: var(--fs-300);/*0.8rem;*/
  font-family: var(--ff-mono);
}
[data-category="histm"] {--clr-category: var(--clr-red);}
[data-category="histm"]::before {content: "hm";}
[data-category="purem"] {--clr-category: var(--clr-blue);}
[data-category="purem"]::before {content: "pm";}
[data-category="applm"] {--clr-category: var(--clr-green);}
[data-category="applm"]::before {content: "am";}
[data-category="eleceng"] {--clr-category: var(--clr-yellow);}
[data-category="eleceng"]::before {content:"ee";}
[data-invited="true"]::before {
  content:"*";
  margin-right: 0.125rem;
  color: var(--clr-red);
  font-weight: 900;
}

.abstract {
  margin-top:0.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  border: 0.25rem solid var(--clr-fg);
}

/* Portfolio stuff */
.portfolio {
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  list-style: none;
}
.portfolio > * {
  flex: 1 1 15rem;
  margin: 1rem;
}
.card {
  --br-rad: 1.5em;
  flex-direction: column;
  align-content: baseline;
  min-width: 10rem;
  max-width: 20rem;
  border: 0.125rem solid var(--clr-fg);
  border-radius: var(--br-rad);
  box-shadow: 0 0.5rem 0.5rem 0 hsl(var(--clr-fg-hsl)/0.5);
  font-size: var(--fs-300);
}
.card:focus-within, .card:hover {box-shadow: 0 0 0 0.25rem;}
.card-description {
  position: relative;
  flex-direction: column;
	padding: 1em 0.5em;
}
.card-description::before {
  content: var(--tag,'');
  position: absolute;
  top: -2rem;
  border-radius: 25%;
  padding: 0.25rem;
  background-color: var(--clr-green);
  font-weight: 600;
}
.card-description > h4 {margin: 0 0 0.5em;}
.card-img {
  background-image: var(--img-src,var(--clr-bg));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 10rem;
  border-top-left-radius: inherit !important;
  border-top-right-radius: inherit !important;
}
.card-link {
    margin: 0.25em;
    align-self: center;
    text-transform: uppercase;
}
/*--------------*/

/* code stuff */
pre {
  background-color: var(--clr-bgh) !important;
  overflow: auto;
}
pre code {background: none;}
code, kbd {background-color: var(--clr-bgh);}
code, kbd, pre {
  border-radius: .4rem;
  padding: 0.4rem;
  font-family: var(--ff-mono);
}